<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TTYMessagesSection" type="BagTMQueueProcessing.TTYMessagesSection,BagTMQueueProcessing" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>

  <connectionStrings>
    <add name="BaggageEntities" connectionString="metadata=res://BagTMDBLibrary/Baggage.csdl|res://BagTMDBLibrary/Baggage.ssdl|res://BagTMDBLibrary/Baggage.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=(localdb)\MSSQLLocalDB;initial catalog=Baggage;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory,EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
  <TTYMessagesSection>
    <tty key="BSM" value="1" entityName="BagTMDBLibrary.BaggageTTYTable,BagTMDBLibrary">
      <ttyelements>
        <ttyelement key="default">
          <ttycomponents>
            <ttycomponent position="1" methodName="SMI" substring="0;3"/>
            <!--<ttycomponent position="1" methodName="SLMI" substring="3;3"/>-->
            <ttycomponent position="1" methodName="STATUSINDICATOR" substring="3;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="B">
          <ttycomponents>
            <ttycomponent position="2" methodName="BIRREG"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="C">
          <ttycomponents>
            <ttycomponent position="2" methodName="CCORP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="D">
          <ttycomponents>
            <ttycomponent position="2" methodName="DREMOTELOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="E">
          <ttycomponents>
            <ttycomponent position="2" methodName="EEXCEP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="F">
          <ttycomponents>
            <ttycomponent position="2" methodName="FFLTNR"/>
            <ttycomponent position="3" methodName="FDATE"/>
            <ttycomponent position="4" methodName="FDEST"/>
            <ttycomponent position="5" methodName="FCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="H">
          <ttycomponents>
            <ttycomponent position="2" methodName="HHANDTERM"/>
            <ttycomponent position="3" methodName="HHANDBAY"/>
            <ttycomponent position="4" methodName="HHANDSTDGTE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="I">
          <ttycomponents>
            <ttycomponent position="2" methodName="IFLTNR"/>
            <ttycomponent position="3" methodName="IDATE"/>
            <ttycomponent position="4" methodName="IDEST"/>
            <ttycomponent position="5" methodName="ICLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="J">
          <ttycomponents>
            <ttycomponent position="2" methodName="JRECO"/>
            <ttycomponent position="3" methodName="JAGENTID"/>
            <ttycomponent position="4" methodName="JSCANID"/>
            <ttycomponent position="7" methodName="JREADLOC"/>
            <ttycomponent position="8" methodName="JSENTLOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="K">
          <ttycomponents>
            <ttycomponent position="1" methodName="KDMP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="L">
          <ttycomponents>
            <ttycomponent position="2" methodName="LPNR"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="N">
          <ttycomponents>
            <ttycomponent position="2" methodName="NBAGTAG" substring="0;10"/>
            <ttycomponent position="2" methodName="NNRTAGS" substring="10;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="O">
          <ttycomponents>
            <ttycomponent position="2" methodName="OFLTNR"/>
            <ttycomponent position="3" methodName="ODATE"/>
            <ttycomponent position="4" methodName="ODEST"/>
            <ttycomponent position="5" methodName="OCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="P">
          <ttycomponents>
            <ttycomponent position="0" methodName="PPAXNAME"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="R">
          <ttycomponents>
            <ttycomponent position="0" methodName="RINTERNAL"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="S">
          <ttycomponents>
            <ttycomponent position="2" methodName="SAUTL"/>
            <ttycomponent position="3" methodName="SSEAT"/>
            <ttycomponent position="4" methodName="SPAXCK"/>
            <ttycomponent position="7" methodName="SPAXPROF"/>
            <ttycomponent position="8" methodName="SAUTTRANS"/>
            <ttycomponent position="9" methodName="SBAGTAGSTATUS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="T">
          <ttycomponents>
            <ttycomponent position="2" methodName="TTAGPRINTERID"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="U">
          <ttycomponents>
            <ttycomponent position="2" methodName="UULD"/>
            <ttycomponent position="3" methodName="UCOMPT"/>
            <ttycomponent position="4" methodName="UTYPEOFBAG"/>
            <ttycomponent position="5" methodName="UDESTCONTAINER"/>
            <ttycomponent position="6" methodName="UCONTTYPE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="V">
          <ttycomponents>
            <ttycomponent position="2" methodName="VBAGSOURCIND" substring="1;1"/>
            <ttycomponent position="2" methodName="VCITY" substring="2;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="W">
          <ttycomponents>
            <ttycomponent position="2" methodName="WPWINDICATOR"/>
            <ttycomponent position="3" methodName="WNRCKBAGS"/>
            <ttycomponent position="4" methodName="WTOTK"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="X">
          <ttycomponents>
            <ttycomponent position="0" methodName="XSECURITY"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="Y">
          <ttycomponents>
            <ttycomponent position="0" methodName="YFQTV"/>
          </ttycomponents>
        </ttyelement>
      </ttyelements>
    </tty>
    <tty key="BPM" value="1" entityName="BagTMDBLibrary.BaggageTTYTable,BagTMDBLibrary">
      <ttyelements>
        <ttyelement key="default">
          <ttycomponents>
            <ttycomponent position="1" methodName="SMI" substring="0;3"/>
            <!--<ttycomponent position="1" methodName="SLMI" substring="3;3"/>-->
            <ttycomponent position="1" methodName="STATUSINDICATOR" substring="3;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="B">
          <ttycomponents>
            <ttycomponent position="2" methodName="BIRREG"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="C">
          <ttycomponents>
            <ttycomponent position="2" methodName="CCORP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="D">
          <ttycomponents>
            <ttycomponent position="2" methodName="DREMOTELOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="E">
          <ttycomponents>
            <ttycomponent position="2" methodName="EEXCEP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="F">
          <ttycomponents>
            <ttycomponent position="2" methodName="FFLTNR"/>
            <ttycomponent position="3" methodName="FDATE"/>
            <ttycomponent position="4" methodName="FDEST"/>
            <ttycomponent position="5" methodName="FCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="H">
          <ttycomponents>
            <ttycomponent position="2" methodName="HHANDTERM"/>
            <ttycomponent position="3" methodName="HHANDBAY"/>
            <ttycomponent position="4" methodName="HHANDSTDGTE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="I">
          <ttycomponents>
            <ttycomponent position="2" methodName="IFLTNR"/>
            <ttycomponent position="3" methodName="IDATE"/>
            <ttycomponent position="4" methodName="IDEST"/>
            <ttycomponent position="5" methodName="ICLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="J">
          <ttycomponents>
            <ttycomponent position="2" methodName="JRECO"/>
            <ttycomponent position="3" methodName="JAGENTID"/>
            <ttycomponent position="4" methodName="JSCANID"/>
            <ttycomponent position="7" methodName="JREADLOC"/>
            <ttycomponent position="8" methodName="JSENTLOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="K">
          <ttycomponents>
            <ttycomponent position="1" methodName="KDMP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="L">
          <ttycomponents>
            <ttycomponent position="2" methodName="LPNR"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="N">
          <ttycomponents>
            <ttycomponent position="2" methodName="NBAGTAG" substring="0;10"/>
            <ttycomponent position="2" methodName="NNRTAGS" substring="10;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="O">
          <ttycomponents>
            <ttycomponent position="2" methodName="OFLTNR"/>
            <ttycomponent position="3" methodName="ODATE"/>
            <ttycomponent position="4" methodName="ODEST"/>
            <ttycomponent position="5" methodName="OCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="P">
          <ttycomponents>
            <ttycomponent position="0" methodName="PPAXNAME"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="R">
          <ttycomponents>
            <ttycomponent position="0" methodName="RINTERNAL"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="S">
          <ttycomponents>
            <ttycomponent position="2" methodName="SAUTL"/>
            <ttycomponent position="3" methodName="SSEAT"/>
            <ttycomponent position="4" methodName="SPAXCK"/>
            <ttycomponent position="7" methodName="SPAXPROF"/>
            <ttycomponent position="8" methodName="SAUTTRANS"/>
            <ttycomponent position="9" methodName="SBAGTAGSTATUS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="T">
          <ttycomponents>
            <ttycomponent position="2" methodName="TTAGPRINTERID"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="U">
          <ttycomponents>
            <ttycomponent position="2" methodName="UULD"/>
            <ttycomponent position="3" methodName="UCOMPT"/>
            <ttycomponent position="4" methodName="UTYPEOFBAG"/>
            <ttycomponent position="5" methodName="UDESTCONTAINER"/>
            <ttycomponent position="6" methodName="UCONTTYPE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="V">
          <ttycomponents>
            <ttycomponent position="2" methodName="VBAGSOURCIND" substring="1;1"/>
            <ttycomponent position="2" methodName="VCITY" substring="2;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="W">
          <ttycomponents>
            <ttycomponent position="2" methodName="WPWINDICATOR"/>
            <ttycomponent position="3" methodName="WNRCKBAGS"/>
            <ttycomponent position="4" methodName="WTOTK"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="X">
          <ttycomponents>
            <ttycomponent position="0" methodName="XSECURITY"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="Y">
          <ttycomponents>
            <ttycomponent position="0" methodName="YFQTV"/>
          </ttycomponents>
        </ttyelement>
      </ttyelements>
    </tty>
    <tty key="BTM" value="1" entityName="BagTMDBLibrary.BaggageTTYTable,BagTMDBLibrary">
      <ttyelements>
        <ttyelement key="default">
          <ttycomponents>
            <ttycomponent position="1" methodName="SMI" substring="0;3"/>
            <!--<ttycomponent position="1" methodName="SLMI" substring="3;3"/>-->
            <ttycomponent position="1" methodName="STATUSINDICATOR" substring="3;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="B">
          <ttycomponents>
            <ttycomponent position="2" methodName="BIRREG"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="C">
          <ttycomponents>
            <ttycomponent position="2" methodName="CCORP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="D">
          <ttycomponents>
            <ttycomponent position="2" methodName="DREMOTELOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="E">
          <ttycomponents>
            <ttycomponent position="2" methodName="EEXCEP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="F">
          <ttycomponents>
            <ttycomponent position="2" methodName="FFLTNR"/>
            <ttycomponent position="3" methodName="FDATE"/>
            <ttycomponent position="4" methodName="FDEST"/>
            <ttycomponent position="5" methodName="FCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="H">
          <ttycomponents>
            <ttycomponent position="2" methodName="HHANDTERM"/>
            <ttycomponent position="3" methodName="HHANDBAY"/>
            <ttycomponent position="4" methodName="HHANDSTDGTE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="I">
          <ttycomponents>
            <ttycomponent position="2" methodName="IFLTNR"/>
            <ttycomponent position="3" methodName="IDATE"/>
            <ttycomponent position="4" methodName="IDEST"/>
            <ttycomponent position="5" methodName="ICLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="J">
          <ttycomponents>
            <ttycomponent position="2" methodName="JRECO"/>
            <ttycomponent position="3" methodName="JAGENTID"/>
            <ttycomponent position="4" methodName="JSCANID"/>
            <ttycomponent position="7" methodName="JREADLOC"/>
            <ttycomponent position="8" methodName="JSENTLOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="K">
          <ttycomponents>
            <ttycomponent position="1" methodName="KDMP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="L">
          <ttycomponents>
            <ttycomponent position="2" methodName="LPNR"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="N">
          <ttycomponents>
            <ttycomponent position="2" methodName="NBAGTAG" substring="0;10"/>
            <ttycomponent position="2" methodName="NNRTAGS" substring="10;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="O">
          <ttycomponents>
            <ttycomponent position="2" methodName="OFLTNR"/>
            <ttycomponent position="3" methodName="ODATE"/>
            <ttycomponent position="4" methodName="ODEST"/>
            <ttycomponent position="5" methodName="OCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="P">
          <ttycomponents>
            <ttycomponent position="0" methodName="PPAXNAME"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="R">
          <ttycomponents>
            <ttycomponent position="0" methodName="RINTERNAL"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="S">
          <ttycomponents>
            <ttycomponent position="2" methodName="SAUTL"/>
            <ttycomponent position="3" methodName="SSEAT"/>
            <ttycomponent position="4" methodName="SPAXCK"/>
            <ttycomponent position="7" methodName="SPAXPROF"/>
            <ttycomponent position="8" methodName="SAUTTRANS"/>
            <ttycomponent position="9" methodName="SBAGTAGSTATUS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="T">
          <ttycomponents>
            <ttycomponent position="2" methodName="TTAGPRINTERID"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="U">
          <ttycomponents>
            <ttycomponent position="2" methodName="UULD"/>
            <ttycomponent position="3" methodName="UCOMPT"/>
            <ttycomponent position="4" methodName="UTYPEOFBAG"/>
            <ttycomponent position="5" methodName="UDESTCONTAINER"/>
            <ttycomponent position="6" methodName="UCONTTYPE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="V">
          <ttycomponents>
            <ttycomponent position="2" methodName="VBAGSOURCIND" substring="1;1"/>
            <ttycomponent position="2" methodName="VCITY" substring="2;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="W">
          <ttycomponents>
            <ttycomponent position="2" methodName="WPWINDICATOR"/>
            <ttycomponent position="3" methodName="WNRCKBAGS"/>
            <ttycomponent position="4" methodName="WTOTK"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="X">
          <ttycomponents>
            <ttycomponent position="0" methodName="XSECURITY"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="Y">
          <ttycomponents>
            <ttycomponent position="0" methodName="YFQTV"/>
          </ttycomponents>
        </ttyelement>
      </ttyelements>
    </tty>
    <tty key="BUM" value="1" entityName="BagTMDBLibrary.BaggageTTYTable,BagTMDBLibrary">
      <ttyelements>
        <ttyelement key="default">
          <ttycomponents>
            <ttycomponent position="1" methodName="SMI" substring="0;3"/>
            <!--<ttycomponent position="1" methodName="SLMI" substring="3;3"/>-->
            <ttycomponent position="1" methodName="STATUSINDICATOR" substring="3;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="B">
          <ttycomponents>
            <ttycomponent position="2" methodName="BIRREG"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="C">
          <ttycomponents>
            <ttycomponent position="2" methodName="CCORP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="D">
          <ttycomponents>
            <ttycomponent position="2" methodName="DREMOTELOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="E">
          <ttycomponents>
            <ttycomponent position="2" methodName="EEXCEP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="F">
          <ttycomponents>
            <ttycomponent position="2" methodName="FFLTNR"/>
            <ttycomponent position="3" methodName="FDATE"/>
            <ttycomponent position="4" methodName="FDEST"/>
            <ttycomponent position="5" methodName="FCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="H">
          <ttycomponents>
            <ttycomponent position="2" methodName="HHANDTERM"/>
            <ttycomponent position="3" methodName="HHANDBAY"/>
            <ttycomponent position="4" methodName="HHANDSTDGTE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="I">
          <ttycomponents>
            <ttycomponent position="2" methodName="IFLTNR"/>
            <ttycomponent position="3" methodName="IDATE"/>
            <ttycomponent position="4" methodName="IDEST"/>
            <ttycomponent position="5" methodName="ICLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="J">
          <ttycomponents>
            <ttycomponent position="2" methodName="JRECO"/>
            <ttycomponent position="3" methodName="JAGENTID"/>
            <ttycomponent position="4" methodName="JSCANID"/>
            <ttycomponent position="7" methodName="JREADLOC"/>
            <ttycomponent position="8" methodName="JSENTLOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="K">
          <ttycomponents>
            <ttycomponent position="1" methodName="KDMP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="L">
          <ttycomponents>
            <ttycomponent position="2" methodName="LPNR"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="N">
          <ttycomponents>
            <ttycomponent position="2" methodName="NBAGTAG" substring="0;10"/>
            <ttycomponent position="2" methodName="NNRTAGS" substring="10;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="O">
          <ttycomponents>
            <ttycomponent position="2" methodName="OFLTNR"/>
            <ttycomponent position="3" methodName="ODATE"/>
            <ttycomponent position="4" methodName="ODEST"/>
            <ttycomponent position="5" methodName="OCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="P">
          <ttycomponents>
            <ttycomponent position="0" methodName="PPAXNAME"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="R">
          <ttycomponents>
            <ttycomponent position="0" methodName="RINTERNAL"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="S">
          <ttycomponents>
            <ttycomponent position="2" methodName="SAUTL"/>
            <ttycomponent position="3" methodName="SSEAT"/>
            <ttycomponent position="4" methodName="SPAXCK"/>
            <ttycomponent position="7" methodName="SPAXPROF"/>
            <ttycomponent position="8" methodName="SAUTTRANS"/>
            <ttycomponent position="9" methodName="SBAGTAGSTATUS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="T">
          <ttycomponents>
            <ttycomponent position="2" methodName="TTAGPRINTERID"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="U">
          <ttycomponents>
            <ttycomponent position="2" methodName="UULD"/>
            <ttycomponent position="3" methodName="UCOMPT"/>
            <ttycomponent position="4" methodName="UTYPEOFBAG"/>
            <ttycomponent position="5" methodName="UDESTCONTAINER"/>
            <ttycomponent position="6" methodName="UCONTTYPE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="V">
          <ttycomponents>
            <ttycomponent position="2" methodName="VBAGSOURCIND" substring="1;1"/>
            <ttycomponent position="2" methodName="VCITY" substring="2;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="W">
          <ttycomponents>
            <ttycomponent position="2" methodName="WPWINDICATOR"/>
            <ttycomponent position="3" methodName="WNRCKBAGS"/>
            <ttycomponent position="4" methodName="WTOTK"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="X">
          <ttycomponents>
            <ttycomponent position="0" methodName="XSECURITY"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="Y">
          <ttycomponents>
            <ttycomponent position="0" methodName="YFQTV"/>
          </ttycomponents>
        </ttyelement>
      </ttyelements>
    </tty>
    <tty key="BNS" value="1" entityName="BagTMDBLibrary.BaggageTTYTable,BagTMDBLibrary">
      <ttyelements>
        <ttyelement key="default">
          <ttycomponents>
            <ttycomponent position="1" methodName="SMI" substring="0;3"/>
            <!--<ttycomponent position="1" methodName="SLMI" substring="3;3"/>-->
            <ttycomponent position="1" methodName="STATUSINDICATOR" substring="3;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="B">
          <ttycomponents>
            <ttycomponent position="2" methodName="BIRREG"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="C">
          <ttycomponents>
            <ttycomponent position="2" methodName="CCORP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="D">
          <ttycomponents>
            <ttycomponent position="2" methodName="DREMOTELOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="E">
          <ttycomponents>
            <ttycomponent position="2" methodName="EEXCEP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="F">
          <ttycomponents>
            <ttycomponent position="2" methodName="FFLTNR"/>
            <ttycomponent position="3" methodName="FDATE"/>
            <ttycomponent position="4" methodName="FDEST"/>
            <ttycomponent position="5" methodName="FCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="H">
          <ttycomponents>
            <ttycomponent position="2" methodName="HHANDTERM"/>
            <ttycomponent position="3" methodName="HHANDBAY"/>
            <ttycomponent position="4" methodName="HHANDSTDGTE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="I">
          <ttycomponents>
            <ttycomponent position="2" methodName="IFLTNR"/>
            <ttycomponent position="3" methodName="IDATE"/>
            <ttycomponent position="4" methodName="IDEST"/>
            <ttycomponent position="5" methodName="ICLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="J">
          <ttycomponents>
            <ttycomponent position="2" methodName="JRECO"/>
            <ttycomponent position="3" methodName="JAGENTID"/>
            <ttycomponent position="4" methodName="JSCANID"/>
            <ttycomponent position="7" methodName="JREADLOC"/>
            <ttycomponent position="8" methodName="JSENTLOC"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="K">
          <ttycomponents>
            <ttycomponent position="1" methodName="KDMP"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="L">
          <ttycomponents>
            <ttycomponent position="2" methodName="LPNR"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="N">
          <ttycomponents>
            <ttycomponent position="2" methodName="NBAGTAG" substring="0;10"/>
            <ttycomponent position="2" methodName="NNRTAGS" substring="10;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="O">
          <ttycomponents>
            <ttycomponent position="2" methodName="OFLTNR"/>
            <ttycomponent position="3" methodName="ODATE"/>
            <ttycomponent position="4" methodName="ODEST"/>
            <ttycomponent position="5" methodName="OCLASS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="P">
          <ttycomponents>
            <ttycomponent position="0" methodName="PPAXNAME"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="R">
          <ttycomponents>
            <ttycomponent position="0" methodName="RINTERNAL"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="S">
          <ttycomponents>
            <ttycomponent position="2" methodName="SAUTL"/>
            <ttycomponent position="3" methodName="SSEAT"/>
            <ttycomponent position="4" methodName="SPAXCK"/>
            <ttycomponent position="7" methodName="SPAXPROF"/>
            <ttycomponent position="8" methodName="SAUTTRANS"/>
            <ttycomponent position="9" methodName="SBAGTAGSTATUS"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="T">
          <ttycomponents>
            <ttycomponent position="2" methodName="TTAGPRINTERID"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="U">
          <ttycomponents>
            <ttycomponent position="2" methodName="UULD"/>
            <ttycomponent position="3" methodName="UCOMPT"/>
            <ttycomponent position="4" methodName="UTYPEOFBAG"/>
            <ttycomponent position="5" methodName="UDESTCONTAINER"/>
            <ttycomponent position="6" methodName="UCONTTYPE"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="V">
          <ttycomponents>
            <ttycomponent position="2" methodName="VBAGSOURCIND" substring="1;1"/>
            <ttycomponent position="2" methodName="VCITY" substring="2;3"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="W">
          <ttycomponents>
            <ttycomponent position="2" methodName="WPWINDICATOR"/>
            <ttycomponent position="3" methodName="WNRCKBAGS"/>
            <ttycomponent position="4" methodName="WTOTK"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="X">
          <ttycomponents>
            <ttycomponent position="0" methodName="XSECURITY"/>
          </ttycomponents>
        </ttyelement>
        <ttyelement key="Y">
          <ttycomponents>
            <ttycomponent position="0" methodName="YFQTV"/>
          </ttycomponents>
        </ttyelement>
      </ttyelements>
    </tty>
  </TTYMessagesSection>
</configuration>